/* Styles spécifiques à la page de film */

.banner {
  height: 80px; /* Réduisez la hauteur de la bannière à 80 pixels */
  margin-bottom: 20px; /* Réduisez la marge sous la bannière */
}

.banner img {
  /* Modifiez les dimensions de l'image du logo si nécessaire */
  height: 50px;
  width: auto;
}

.film-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.film-poster {
  width: 35%; /* Fixez la largeur de l'affiche à 35% de la largeur de la section */
  position: sticky;
  top: 100px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.5);
}

.film-details {
  width: 65%; /* Fixez la largeur des détails du film à 63% de la largeur de la section */
}

.legend {
  color: rgba(255,255,255,0.6);
  font-weight: bold;
}


.btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 1rem;
  margin: 20px 0;
  border-radius: 16px;
  gap: 0.5rem;
  font-size: 14;
  cursor: pointer;

  transition: transform 0.2s ease, background 0.3s ease;
}

.btn:hover {
  background: rgba(255,255,255,0.2);
  transform: translateY(-2px);
}

.btn.red:hover {
  background: rgba(238, 53, 35, 0.8);
  transform: translateY(-2px);
}

.btn.small {
  border-radius: 30px;
  padding: 0.5rem 1rem;
}

.btn:disabled {
  background: rgba(64, 56, 56, 0.6);
  border: 1px solid rgba(145, 131, 131, 0.2);
  cursor: default;
  transform: none;
}

.btn i {
  font-size: 1rem;
}

.btn * {
  margin: 0 0.4rem
}


/* Onglets saisons */
.season-tabs {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.season-tab {
  margin: 0;
}

.season-tab.active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}

/* Liste des épisodes */
.episodes-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.episode-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  border-radius: 16px;

  transition: transform 0.2s ease, background 0.3s ease;
}

.episode-card:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transform: translateX(-8px);
}

.episode-card h4 {
  margin: 0;
  font-size: 1rem;
}

.episode-card h4 span {
  font-size: 0.9rem;
  margin-left: 10px;
}

.episode-card p {
  margin: 2px 0 0;
  font-size: 0.9rem;
  opacity: 0.8;
}


#playerContainer {
  position: relative;
  width: 90%;
  max-width: 1200px;
  /* padding-top relatif à la largeur */
  padding-top: 56.25%;
  margin: auto;
  box-sizing: border-box;
}

#playerIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  border: none;
}


.player-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.player-header .dropdown {
  margin-left: auto; /* pousse le dropdown à droite */
  position: relative; /* nécessaire pour position:absolute des dropdown-content */
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* juste en dessous du bouton */
  right: 0;  /* aligné au bouton */
  border-radius: 18px;
  margin-top: 0.5rem;
  padding: 2px;
  min-width: 150px; /* largeur minimale */
  z-index: 10;
  transform: translateY(-20px); /* margin de 20px du btn */
}

.dropdown-content button {
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 16px;
  text-align: left;
  color: white;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;

  transition: all 0.3s ease;
}

.dropdown-content button:hover {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
