/* Couleurs */
:root {
  --red: 229, 9, 20;
  --black: 34,34,34;
  --dark-grey: 51, 51, 51;
  --light-grey: 230, 230, 230;
}

/* Polices */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Style général */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(var(--black));
  color: rgb(var(--light-grey));
  margin: 0;
  padding: 0;
}

/* Titres */
h1, h2, h3 {
  font-weight: 700;
  color: rgb(var(--light-grey));
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin: 0;
}

/* Liens */
a {
  color: rgb(var(--red));
  text-decoration: none;
}


.text-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: color 0.2s ease;
}

.text-btn:hover {
  color: #ff4747;
}


/* Style du contenu principal */
.main-content {
  padding: 20px;
  /* padding-top: 260px; */
}



/* Grille de films */
.film-grid {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.film {
  width: 200px;
  flex-shrink: 0;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.film img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.film:hover img {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.film a {
  color: rgb(var(--light-grey));
  text-decoration: none;
}

.film h3 {
  color: rgb(var(--light-grey));
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
